<!DOCTYPE html>
<html>

<head>
    <title>It's BoilerPlate</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
        <section>
            <br>
            <%- body -%>
        </section>

        <%- include('../includes/footer.ejs') %>
        <script src="/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="/js/validationScrpit.js"></script> 
        <!-- D:\MERN\mernourney\public\js\validationScrpit.js -->
</body>

</html>