<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   Details for <%= hotel.title %> <br><br>
   <a href="/listings/<%= hotel._id%>/edit"> Edit</a>
   <form method="POST" action="/listings/<%= hotel._id%>?_method=DELETE">
    
    <button type="submit"> Delete</button>
   </form>
</body>
</html>