<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <form method="POST" action="/listings">

        <input type="text" name="name" placeholder="Title">
        <br><br>
        <textarea name="desc" id="">Description</textarea><br><br>
        <input type="number" name="price" placeholder="Price"><br><br>
        <input type="text" name="image" placeholder="image"><br><br>
        <input type="text" name="location" placeholder="Location"><br><br>
        <input type="text" name="country" placeholder="Country"><br><br>
        <button type="submit">submit</button>


    </form>

    
</body>
</html>